<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>oEmbed-test</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td, th {
            padding: 5px;
        }
        #search {
            width: 500px;
        }
    </style>
</head>

<body>

<input id="search" class="search" type="text" onkeyup="if(window.event.keyCode==13){search()}"/>
<input class="btn" type="button" value="추가" onclick="search()"/>
<input class="btn" type="button" value="embed삭제" onclick="clearContainer()"/>

<div>샘플 url</div>
<div><a href="#" onclick="sample(this.text)">https://www.youtube.com/watch?v=dBD54EZIrZo</a></div>
<div><a href="#" onclick="sample(this.text)">https://www.instagram.com/p/BUawPlPF_Rx/</a></div>
<div><a href="#" onclick="sample(this.text)">https://twitter.com/hellopolicy/status/867177144815804416</a></div>
<div><a href="#" onclick="sample(this.text)">https://vimeo.com/20097015</a></div>

<div id="container"></div>

<script type="text/javascript">

    // 서버로 url 전달하여 oEmbed요청
    function search() {
        const url = document.getElementById("search").value;
        console.log("입력받은 url : " + url);

        // 입력받은 문자열이 url형식인지 정규표현식으로 체크
        var regex = /^(((http(s?))\:\/\/)?)([0-9a-zA-Z\-]+\.)+[a-zA-Z]{2,6}(\:[0-9]+)?(\/\S*)?/;

        if (regex.test(url)) {
        } else {
            alert('입력된 문자열이 url 형식이 아닙니다!');
            // 입력창 clear
            document.getElementById("search").value = '';
            return
        }

        $.ajax({
            type: 'GET',
            url: "/search",
            data: {"url": url},
            dataType: 'text',
            success: function (data, status) {
                convert(JSON.parse(data));
            },
            error: function (jqXHR, status, error) {
                alert(jqXHR.responseText);
            }
        })
    }

    // 샘플 url 클릭시 search() 호출
    function sample(url) {
        document.getElementById("search").value = url;
        search();
    }

    // container 비우기
    function clearContainer() {
        document.getElementById("container").replaceChildren();
    }

    // 서버로 부터 전달 받은 JSON 정보를 HTML table로 그려준다
    function convert(data) {

        let jsonData = data;

        console.log(jsonData);

        let container = document.getElementById("container");
        let table = document.createElement("table");
        let rows = Object.entries(jsonData); // json Object를 [key, value] 값을 가지는 배열로 바꿔준다

        // 배열 루프 돌면서
        rows.forEach((item) => {
            let tr = document.createElement("tr");

            // json 항목명 세팅 (author_name, provider_url, title..)
            let td = document.createElement("td");
            td.innerText = item[0];
            tr.appendChild(td);

            // json 값 세팅
            let td2 = document.createElement("td");
            td2.innerText = item[1];

            // html, thumbnail_url 항목의 경우 미리보기 가능하도록 구현
            if (item[0] == "html") {
                td2.insertAdjacentHTML('beforeend', item[1]);

            } else if (item[0] == "thumbnail_url") {
                let img = document.createElement("img");
                img.src = item[1];

                td2.appendChild(img);
            }
            tr.appendChild(td2);

            table.append(tr);
        });

        // container.appendChild(table);
        container.prepend(table); // 신규 추가건 위에 추가해 준다

        // 트위터의 경우 load 호출해줘야 정상적으로 출력된다
        // twttr.widgets.load(valueDiv);
        twttr.widgets.load(container);

        // 입력창 clear
        document.getElementById("search").value = '';
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>